/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    /* height: 100%; Importante para que el body y html ocupen toda la pantalla */
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Para hacer que la página ocupe al menos el 100% de la altura de la pantalla */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el contenedor ocupe al menos el 100% de la altura de la pantalla */
}

.content-wrap {
    flex: 1; /* Empuja el footer hacia abajo si el contenido es insuficiente */
}

/* Header */
header {
    background-color: #3E2723;
    padding: 20px;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

header h1 {
    font-family: 'Merriweather', serif;
    margin: 0;
    font-size: 2.5rem;
}

/* Admin Button */
.admin-button {
    background-color: #D84315;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s;
}

.admin-button:hover {
    background-color: #BF360C;
}

/* Main Content */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Product Card */
.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.producto h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    color: #3E2723;
    margin: 15px 0 5px 0;
}

.producto p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.producto .precio {
    font-weight: bold;
    font-size: 1.2rem;
    color: #D84315;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #D84315;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.button:hover {
    background-color: #BF360C;
}

/* Footer */
footer {
    background-color: #3E2723;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    width: 100%;
    margin-top: auto; /* Hace que el footer se mantenga en la parte inferior */
}

/* Responsive Design */
@media (max-width: 768px) {
    .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    header h1 {
        font-size: 2rem;
    }
}
